<div class="cart" style="width:700px;">
<h2>Thank you for shopping with us!<br />
	
Your order has been processed.<br />

A detailed email has been sent.<br />
</h2>

<h4><a href="/gallery/index" style="color:#fe7865;">Click here to continue the shopping</a></h4>
</div>